<!-- Message to be used within the Chat UI component -->
<div class="message-display-container">
    <div class="message" [class.message-user]="message.role === 'user'" [class.message-not-user]="message.role !== 'user'">
        <span class="message-user-name">{{ message.role }}</span>
        <span class="message-body">
            <div [innerHTML]="formatMessage(message.content)"></div>
        </span>
        <span class="message-timestamp">{{ message.time | date:'shortTime' }}</span>
    </div>
</div>
