@import 'src/styles/variables';
@import 'src/styles/mixins';

// Chat component styles
.chat-ui-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-background;
}

.message-container {
  flex-grow: 1;
  width: auto;
  // Make the container scrollable
  overflow-y: scroll;

  padding: 2%;
  padding-bottom: 1%;
  padding-top: 1%;


  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 5px;
  }
  .message{
    width: 100%;
  }
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  height: auto;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0px;
  // Give some contrast with the chat UI background
  background-color: $color-secondary;

  mat-form-field {
    flex-grow: 1;
    // Space between input field and send button
    margin-left: 5%;
    margin-right: 3%;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  button {
    @include button-style ($color-primary, $color-font-dark);
    width: 80px;
    height: 80px;
  }
}

.input-field {

  .chat-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    //resize: none; // Prevent resizing the textarea
    background-color: $color-background;
  }

  .chat-input:focus {
    //border-color: #66afe9;
    outline: none;
  }
}

// Hide the button on screens smaller than 768px wide
@media (min-width: 768px) {
  .message-container { 
    padding: 4%;
  }
}
