<div class="chat-ui-container">
    <div class="message-container" #messageContainer>
        <app-chat-ui-message *ngFor="let message of messages | async" [message]="message"></app-chat-ui-message>
    </div>  
    <div class="input-container">
        <div class="textfield-container">
            <textarea [(ngModel)]="inputField" class="chat-input" rows="3" placeholder="Type your message..." (keydown.enter)="inputUserMessage(); $event.preventDefault()"></textarea>
        </div>

        <div class="button-container">
            <button class="generate-button" mat-raised-button color="warn" (click)="generateMessage()">Generate</button>         
            <button class="send-button" mat-raised-button color="primary" (click)="inputUserMessage()">Send</button>
        </div>
    </div>
</div>
