@import 'src/styles/variables';

// Chat component styles
.chat-ui {
  display: flex;
  flex-direction: column;
  height: 95.5vh;
  background-color: $color-background;

  .message-container {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    // Make the container scrollable
    overflow-y: auto;
    // 
    padding: 10px;
    // Space between messages and input container
    margin-bottom: 10px; 

    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-thumb {
      background: $color-primary;
      border-radius: 5px;
    }
    .message{
      width: 100%;
    }
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    // Give some contrast with the chat UI background
    background-color: $color-secondary;

    mat-form-field {
      flex-grow: 1;
      // Space between input field and send button
      margin-right: 10px;

      .mat-form-field-wrapper {
        // Remove the extra padding at the bottom of the input field
        padding-bottom: 0;
      }
    }

    button {
      // Make sure the button is easily clickable
      min-width: 90px;
      min-height: 55px;
      margin-bottom: 1.5%;
    }

    // Responsive adjustments
    @media (max-width: 768px) {
      button {
        margin-bottom: 5.7%;
      }
    }
  }
}


