/* src/app/metrics/metrics.component.scss */

.metrics-container {
  width: 100%;
  height: 100%;
  display: flex;

  // Add these two lines to center the content
  justify-content: center; // Centers vertically
  align-items: center;     // Centers horizontally

  p {
    // Add this new block for the text
    text-align: center; // Center the text if it wraps to multiple lines



    color: var(--theme-text); // Use the theme's text color
    font-size: 2.2rem;
    opacity: 0.8;
  }
}
