// In your app.component.scss
:host {
  height: 100vh; // Use the viewport height to fill the screen

  mat-tab-group {
    .mat-tab-body-wrapper {
      overflow: hidden;
    }
  }
}

.mat-tab-body {
  height: 100%; // Fill the height of the parent container
  display: flex;
  flex-direction: column;
  overflow: hidden; // Prevent any additional scrollbars from appearing
}

// Ensure your mat-tab-group does not have any unnecessary overflow or is constrained in height
.mat-tab-group {
  height: 100vh;
  overflow: hidden; // This prevents any additional scrollbars from appearing
}

.chat-ui-component-container{
  //height: 100vh;
  overflow: hidden;
}
