<div class="app-container">
  <app-sidebar
    class="sidebar-element"
    [class.open]="displayService.isSidebarOpen$ | async">
  </app-sidebar>

  <div class="content-wrapper" [class.sidebar-open]="displayService.isSidebarOpen$ | async">
    <mat-icon
      class="menu-toggle-button"
      [class.sidebar-open]="displayService.isSidebarOpen$ | async"
      aria-hidden="false"
      aria-label="Toggle sidebar menu"
      fontIcon="menu"
      (click)="displayService.toggleSidebar()">
    </mat-icon>
    <router-outlet></router-outlet>
  </div>
</div>
