@import 'src/styles/variables';
@import 'src/styles/mixins';

// Chat component styles
.chat-ui-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-background;
}

.message-container {
  flex-grow: 1;
  width: auto;
  // Make the container scrollable
  overflow-y: scroll;

  padding: 2%;
  padding-bottom: 1%;
  padding-top: 1%;


  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 5px;
  }
  .message{
    width: 100%;
  }
}

.input-container {
  width: 100%;
  min-height: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-self: flex-end;

  justify-content: space-between;
  // Give some contrast with the chat UI background
  background-color: $color-secondary;

  mat-form-field {
    flex-grow: 1;
    // Space between input field and send button
    margin-left: 5%;
    margin-right: 3%;
  }
}

.textfield-container{
  height: 85%;
  width: 85%;
  margin: 5px;
}

.chat-input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 1.3em;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  //padding: 30px;
  // border: 1px solid #ccc;
  //border-radius: 5px;
  resize: vertical; // Let the textarea resize vertically
  background-color: $color-background;
  color: $color-font-light;

}

.chat-input:focus {
  //border-color: #66afe9;
  outline: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  button {
    @include button-style ($color-primary, $color-font-dark);
    min-width: 40px;
    min-height: 40px;
    align-self: center;

    &.generate-button {
      width: 45px;
      height: 45px;
      border-radius: 100%;
    }
  }
}

// Hide the button on screens smaller than 768px wide
@media (min-width: 768px) {
  .message-container { 
    padding: 4%;
  }
  
  .input-container {
    min-height: 13%;
  }

  .button-container {
    button {
      @include button-style ($color-primary, $color-font-dark);

      &.generate-button {
        align-self: center;
        min-width: 100px;
        min-height: 100px;
      }

      &.send-button {
        display: none;
      }
    }
  }
}
