@import 'src/styles/variables';


// Ensure the message display container takes up the full width so that the messages are displayed in a column.
.message-display-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
}

// Message component styles
.message {
  // 
  display: flex;
  // Aligns the message to the left or right side of the screen
  flex-direction: column;
  max-width: 60%;
  // Adds space between the message and the edge of the screen
  padding: 10px;
  // Gives the message rounded corners
  border-radius: 20px;
  // Elevates the message from the background
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  // Adds space between messages
  margin-bottom: 20px;
  // Set the font color
  color: $color-font-dark;
  // 
  word-wrap: break-word;
  text-align: left;
  position: relative;

  // Adjusts the messages for the user
  &.message-user {
    // Aligns the message to the right side of the screen
    align-self: flex-end;
    // Flattens the top left corner
    border-top-right-radius: 0;
    // Secondary color background for messages of the user
    background-color: $color-secondary;
    // Hide the username
    .message-user-name {
      display: none;
    }
  }

  // Adjusts the messages for others
  &.message-not-user {
    // Aligns the message to the left side of the screen
    align-self: flex-start;
    // Flattens the top right corner
    border-top-left-radius: 0;
    // Primary color background for messages of others
    background-color: $color-primary;
  }

  // Adjusts the messages for the system
  &.message-system {
    // Center the message
    align-self: center;
    border-radius: 0px;
    background-color: $color-secondary;
    .message-user-name {
      display: none;
    }

    .message-footer {
      align-self: center;
      .message-timestamp {
        display: none;
      }
    }
  }
}

// Message username
.message-user-name {
  // Space between username and message text
  margin-bottom: 4px;
  // Slightly smaller font for username 
  font-size: 0.80em;
}

// Message content
.message-body {
  // Font size for message text content
  font-size: 1em;
}

// Message footer
.message-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Message timestamp
.message-timestamp {
  align-self: flex-end;
  // Smaller font for timestamp
  font-size: 0.50em;
  // Space between message text and timestamp
  margin-top: 4px;
}

// Message actions
.message-actions {
  display: flex;
  align-items: center;
  // This ensures the buttons are on the same level as the timestamp
  margin-bottom: -10px;
  
  button {
    // Reduce the size of the icons
    mat-icon {
      font-size: 15px;
      height: 15px;
      width: 15px;
    }
    // Adjust padding to ensure icons are not too close to each other
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

// Display parts of the message in italic if wrapped in <em> tags
em {
  font-style: italic;
}

// Responsive adjustment, allowing the message to take more space on smaller screens
@media (max-width: 768px) {
  .message {
    max-width: 75%;
    &.message-user {
      margin-right: 5%;
    }
  }
}

