@use 'src/styles/variables' as vars;

.settings-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.theme-selection {
  margin-top: 25%;
  align-self: center;
  color: vars.$color-secondary;

  h3 {
    color: var(--text-color);
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      color: var(--text-color);
    }
  }
}
