<div class="settings-ui">
    <!-- Titel -->
    <h3>Set the settings for the LLM</h3>

    <div class="upload-container">
        <input type="file" (change)="onFileSelected($event)" accept=".json">
    </div>

    <form class="settings-form" [formGroup]="settingsForm" (ngSubmit)="saveSettings()">
        <!-- ID -->
        <mat-form-field class="settings-field">
            <mat-label>Database ID</mat-label>
            <input matInput type="number" formControlName="id">
        </mat-form-field>

        <!-- Name -->
        <mat-form-field class="settings-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        
        <!-- API Key -->
        <mat-form-field class="settings-field">
            <mat-label>API Key</mat-label>
            <input matInput type="text" formControlName="apiKey">
        </mat-form-field>

        <!-- Model Name -->
        <mat-form-field class="settings-field">
            <mat-label>Model</mat-label>
            <input matInput type="text" formControlName="model">
        </mat-form-field>

        <!-- Frequency Penalty -->
        <mat-form-field class="settings-field">
            <mat-label>Frequency Penalty</mat-label>
            <input matInput type="number" formControlName="frequency_penalty">
        </mat-form-field>

        <!-- Top Logprobs -->
        <mat-form-field class="settings-field">
            <mat-label>Top Logprobs</mat-label>
            <input matInput type="number" formControlName="top_logprobs">
        </mat-form-field>

        <!-- Max Tokens -->
        <mat-form-field class="settings-field">
            <mat-label>Max Tokens</mat-label>
            <input matInput type="number" formControlName="max_tokens">
        </mat-form-field>

        <!-- N -->
        <mat-form-field class="settings-field">
            <mat-label>N</mat-label>
            <input matInput type="number" formControlName="n">
        </mat-form-field>

        <!-- Presence Penalty -->
        <mat-form-field class="settings-field">
            <mat-label>Presence Penalty</mat-label>
            <input matInput type="number" formControlName="presence_penalty">
        </mat-form-field>

        <!-- Seed -->
        <mat-form-field class="settings-field">
            <mat-label>Seed</mat-label>
            <input matInput type="number" formControlName="seed">
        </mat-form-field>

        <!-- Temperature -->
        <mat-form-field class="settings-field">
            <mat-label>Temperature</mat-label>
            <input matInput type="number" formControlName="temperature">
        </mat-form-field>

        <!-- Top P -->
        <mat-form-field class="settings-field">
            <mat-label>Top P</mat-label>
            <input matInput type="number" formControlName="top_p">
        </mat-form-field>

        <!-- User -->
        <mat-form-field class="settings-field">
            <mat-label>User</mat-label>
            <input matInput type="text" formControlName="user">
        </mat-form-field>

        <!-- Save Settings Button -->
        <button type="submit" mat-raised-button color="primary">Save & Apply</button>
    </form>

    <form class="agent-form" [formGroup]="agentForm" (ngSubmit)="addAgent()">
        <!-- Prompt -->
        <mat-form-field class="settings-field">
            <mat-label>Agent name</mat-label>
            <input matInput type="text" formControlName="role">
        </mat-form-field>
        <mat-form-field class="settings-field">
            <mat-label>Agent prompt</mat-label>
            <input matInput type="text" formControlName="prompt">
        </mat-form-field>

        <!-- Save Settings Button -->
        <button type="submit" mat-raised-button color="primary">Add Agent</button>
    </form>

    <!-- Delete Messages Button -->
    <button mat-raised-button color="primary" (click)="resetMessages()">Reset Conversation</button>
</div>
